venv313/
emotion_env/
__pycache__/
*.pyc
*.pyo
*.pyd

.git/
.streamlit/secrets.toml

test_face.jpg

app_backup.py
app_backup_working.py
app_before_behavior.py
app_before_replace.py
app_before_visual.py
app_visual_working_backup.py
app_working_backup.py
app_copy.txt
camera_test.py
mic_test.py
event.html
event.js
